body{
  @include  reset-list;
  @include body-size;
}

/* login-page default */
.login-page{
    width:100%;
    height:50%;
    border:2px solid orchid;
    @include flex-item(center, row, center);
}